*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.menu{
  border-radius: 8px;
  overflow: hidden;
}
.item{
  border-top: 1px solid rgb(37, 37, 37);
  overflow: hidden;
}
.btr{
  display: block;
  padding: 16px 20px;
  background: rgb(37, 37, 37);
  color: white;
  position: relative;
}
.btr:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background:rgb(37, 37, 37);
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.btr i{
  margin-right: 10px;
}
.smenu{
  background: #fff;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.smenu .btr{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.smenu .btr:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: rgb(37, 37, 37);
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu .btr:hover:before{
  opacity: 1;
}
.item:target .smenu{
  max-height: 100em;
}
